.delete-window {
	border: 1px solid black;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 500;
	background-color: white;
	width: 100%;
	padding: 10px;

	&__title {
		font-size: 20px;
		text-align: center;
		margin-bottom: 10px;
	}

	&__title-serial {
		font-size: 18px;
		margin-bottom: 10px;
	}

	&__buttons {
		display: flex;
		justify-content: center;
	}

	&__buttons-item {
		@include ButtonBG();
		border-radius: 5px;
		width: 100px;
		text-align: center;
		margin-right: 10px;
		padding: 5px;

		&:last-child {
			margin-right: 0;
		}

		&:active {
			@include ButtonClickBG();
		}
	}
}
