.header {
	border: 1px solid black;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	background-color: $ColorBackgroundSigment;
	padding: 10px 20px;
	margin: 5px 0 10px;

	&__title {
		display: flex;
		align-items: center;
	}

	&__authorization {
		border: 1px solid black;
		border-radius: 5px;
		padding: 5px 0;
		cursor: pointer;
		width: $ButtonWidthSize;
		text-align: center;
	}

	&__create-serial {
		border: 1px solid black;
		border-radius: 5px;
		padding: 5px 0;
		cursor: pointer;
		width: $ButtonWidthSize;
		text-align: center;
	}
}
